#
# openLilyLib/analysis configuration
#

name: analysis
display-name: anaLYsis
short-description: <
Graphical highlighting for musical analysis
with GNU LilyPond
>

description: <
To be done.
In multiline strings.
>

dependencies: [
first one
second one
third one
]

# spurious entries such as the next parsed but can be ignored.
junk: 1

oll-core: 0.5.0
maintainers: [
Klaus Blum <BenBigNoise@gmx.de>
Urs Liska <ul@openlilylib.org>
]

version: 0.0.1
license: GPL3
repository: https://github.com/openlilylib/analysis/

